### Importing Dependencies

In [26]:
import pandas as pd
import os
import requests
import json
# from config import password
from sqlalchemy import create_engine

### Creating a function to import csv data from multiple countries

In [3]:
def import_func(country_code):
    
    #Creating Path
    
    path = os.path.join('data',f'{country_code}_youtube_trending_data.csv')
    
    
    #Storing dataframe to df
    
    df=pd.read_csv(path)
    
    #Removing unwanted columns below
    
    df=df[['video_id','title','publishedAt','channelTitle','categoryId','trending_date','view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    
    #Changing object types to date types for two columns
    
    df['publishedAt']=pd.to_datetime(df['publishedAt'])
    df['trending_date']=pd.to_datetime(df['trending_date'])
    
    
    #Removing time stamp from date
    
    df['publishedAt']=df['publishedAt'].dt.date 
    df['trending_date']=df['trending_date'].dt.date
    
    
    with open(f'data/{country_code}_category_id.json', 'r') as read_file:
        category_ids = json.load(read_file)

        df=df.astype({'categoryId': 'str'})
        
    for index,row in df.iterrows():
    
        for entry in category_ids["items"]:

            if row["categoryId"]==entry["id"]:
                df.at[index,"categoryId"]=entry["snippet"]["title"]
    
    #Adding country Code as column
    df['country']=f'{country_code}'
    col_name='country'
    
    
    #Moving country code to first column
    first_col = df.pop(col_name)
    df.insert(0,col_name,first_col)
    
    return df

### Creating all dataframes using import function

In [4]:
#USA Dataframe
df_us=import_func('US')

#Brasil Dataframe
df_br=import_func('BR')

#Canada Dataframe
df_ca=import_func('CA')

#Mexico Dataframe
df_mx=import_func('MX')

### Combining all data to one dataframe

In [23]:
#Creating a varible to add all dfs
country_df=[df_us,df_br,df_ca,df_mx]

df_main = pd.concat(country_df)
df_main

,country,video_id,title,publishedAt,channelTitle,categoryId,trending_date,view_count,likes,dislikes,comment_count,thumbnail_link
0,US,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11,Brawadis,People & Blogs,2020-08-12,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg
1,US,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11,Apex Legends,Gaming,2020-08-12,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg
2,US,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11,jacksepticeye,Entertainment,2020-08-12,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg
3,US,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11,XXL,Music,2020-08-12,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg
4,US,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11,Mr. Kate,Howto & Style,2020-08-12,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
21795,MX,-qg-hVGJiic,KAI 카이 '음 (Mmmh)' MV Teaser,2020-11-26,SMTOWN,Music,2020-12-01,3197726,591263,4442,75964,https://i.ytimg.com/vi/-qg-hVGJiic/default.jpg
21796,MX,b8p1VkdnLtA,"Entrevista con Ernesto Cazares, el eliminado d...",2020-11-24,TV Azteca,Entertainment,2020-12-01,79963,1550,90,281,https://i.ytimg.com/vi/b8p1VkdnLtA/default.jpg
21797,MX,S6dv0YvFeak,MI PAPÁ RESPONDE PREGUNTAS INCOMODAS XIME PONCH,2020-11-24,Xime Ponch,People & Blogs,2020-12-01,366384,31512,355,951,https://i.ytimg.com/vi/S6dv0YvFeak/default.jpg
21798,MX,Rz3I0souiEw,BTS (방탄소년단) 'Dynamite' @ Best Artist 2020,2020-11-25,BANGTANTV,Music,2020-12-01,7839236,1451772,4553,65222,https://i.ytimg.com/vi/Rz3I0souiEw/default.jpg
21799,MX,jr764STQE-M,Delineadores de Yuya vs. Los del Mercado ¿Está...,2020-11-23,Anna Sarelly,Howto & Style,2020-12-01,470233,35553,750,1822,https://i.ytimg.com/vi/jr764STQE-M/default.jpg

### ADDED TODAY

### Creating a function to get popular statistics

In [1]:
def stats(country_code):
    
    #Invoiking import_func to capture all the date based on country

    df=import_func(f'{country_code}')
    

    #Grouping dataframe by category to get all likes
    
    df_likes=df.groupby('categoryId').likes.sum()
    
    
    #Grouping dataframe by category to get all dislikes
    
    df_dislikes=df.groupby('categoryId').dislikes.sum()
    
    
    ##Grouping dataframe by category to get total view count
    
    df_view_count=df.groupby('categoryId').view_count.sum()
   
   
    return df_likes.reset_index(),df_dislikes.reset_index(),df_view_count.reset_index()

In [ ]:
#Example


df_US_likes,df_US_dislikes,df_US_view_count=stats('US')

### Creating SQL engine to connnect to Postgres

In [12]:
# # #Connect to Database

# # pg_user = 'postgres'
# # pg_password=password
# # db_name = 'youtube_database'
# # connection_string = f'{pg_user}:{password}@localhost:5432/{db_name}'
# # engine=create_engine(f'postgresql://{connection_string}')

# #Connect to Database - Alternative
# dbuser = 'postgres'
# dbpassword = 'Sm6Jc5bqbiNQdsVAo7eN'
# dbhost = 'localhost'
# dbport = '5432'
# dbname= 'youtube_database'
# connection_string2 = f'{dbuser}:{dbpassword}@database-1.cvmfiiilpm7y.us-east-1.rds.amazonaws.com:{dbport}/{dbname}'
# engine=create_engine(f'postgresql://{connection_string2}')

In [13]:
# engine.table_names()

[]

In [14]:
# df_main.to_sql(name='youtube_table',con=engine,if_exists='append',index=False)

#### For App.py routes

In [15]:
from datetime import datetime

# Routes to fill the drop down menus
# Dropdown menu#1
youtubeVids = df_main
country_df = youtubeVids['country'].value_counts() 
countryList = country_df.index.tolist()
countryList

# Dropdown menu#2
youtubeVids = df_main
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
category_df = df_main['categoryId'].value_counts() 
categoryList = category_df.index.tolist()
categoryList

# Dropdown menu#3
metricList = ['Views', 'Likes', 'Dislikes', 'Comments']

In [24]:
df_main = df_main.rename(columns={'country': 'country', 'video_id': 'video_id', 'title': 'title', 'publishedAt': 'publishedAt', 'channelTitle': 'channelTitle', 'categoryId': 'categoryId',
                                  'trending_date': 'trending_date', 'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments', 'thumbnail_link': 'thumbnail_link'})

In [33]:
# CREATING A HEROKU DATASET
# Heroku only takes data with <10k rows so I created a heroku dataset (incase we ever want to host on heroku).

def import_func(country_code):
    
    #Creating Path
    path = os.path.join('data',f'{country_code}_youtube_trending_data.csv')
    
    
    #Storing dataframe to df
    dfh=pd.read_csv(path)
    
    #Removing unwanted columns below
    dfh=dfh[['video_id','title','publishedAt','channelTitle','categoryId','trending_date','view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    #Renaming columns
    dfh = dfh.rename(columns={'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments'})
    
    #Changing object types to date types for two columns
    dfh['publishedAt']=pd.to_datetime(dfh['publishedAt'])
    dfh['trending_date']=pd.to_datetime(dfh['trending_date'])
    
    
    #Removing time stamp from date
    dfh['publishedAt']=dfh['publishedAt'].dt.date 
    dfh['trending_date']=dfh['trending_date'].dt.date
    
    
    with open(f'data/{country_code}_category_id.json', 'r') as read_file:
        category_ids = json.load(read_file)

        dfh=dfh.astype({'categoryId': 'str'})
        
    for index,row in dfh.iterrows():
    
        for entry in category_ids["items"]:

            if row["categoryId"]==entry["id"]:
                dfh.at[index,"categoryId"]=entry["snippet"]["title"]
    
    # Select 999 rows from each country in dataframe (so we end up with <10k rows ~1000 rows per country)
    dfh = dfh.nlargest(999, 'views')
    
    #Adding country Code as column
    dfh['country']=f'{country_code}'
    col_name='country'
    
    #Moving country code to first column
    first_col = dfh.pop(col_name)
    dfh.insert(0,col_name,first_col)
    
    return dfh

#USA Dataframe
dfh_us=import_func('US')

#Brasil Dataframe
dfh_br=import_func('BR')

#Canada Dataframe
dfh_ca=import_func('CA')

#Mexico Dataframe
dfh_mx=import_func('MX')

#GB Dataframe
dfh_gb=import_func('GB')

#France Dataframe
dfh_fr=import_func('FR')

#Russia Dataframe
dfh_ru=import_func('RU')

#Japan Dataframe
dfh_jp=import_func('JP')

#Korea Dataframe
dfh_kr=import_func('KR')

#India Dataframe
dfh_in=import_func('IN')


#Creating a varible to add all dfs
country_dfh=[dfh_us, dfh_br, dfh_ca, dfh_mx, dfh_gb, dfh_fr, dfh_ru ,dfh_jp, dfh_kr ,dfh_in]

dfh_main = pd.concat(country_dfh)
dfh_main

# Fix the 29 vs Non profits issue
dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")

#View output
dfh_main


# To upload to postgres SQL db
# You first have to go create the db (named youtube_table2) in postgres

# #Connect to Database
# pg_user = 'postgres'
# pg_password=password
# db_name = 'youtube_database'
# connection_string = f'{pg_user}:{password}@localhost:5432/{db_name}'
# engine=create_engine(f'postgresql://{connection_string}')

#Connect to Database - Alternative
dbuser = 'postgres'
dbpassword = 'Sm6Jc5bqbiNQdsVAo7eN'
dbhost = 'localhost'
dbport = '5432'
dbname= 'youtube_database'
connection_string2 = f'{dbuser}:{dbpassword}@database-1.cvmfiiilpm7y.us-east-1.rds.amazonaws.com:{dbport}/{dbname}'
engine=create_engine(f'postgresql://{connection_string2}')

# Upload to postgres
dfh_main.to_sql(name='youtube_table2',con=engine,if_exists='append',index=False)

In [ ]:
# dfh_main['categoryId'] = df_main['categoryId'].str.replace("29", "Nonprofits & Activism")
# dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")


# df_main['categoryId'].value_counts()
# df_main['categoryId'].unique()
# dfh_main
# df_main = df_main(columns={})
# df_main['likes']

# df_main['publishedAt'].value_counts()

In [60]:
# Bar graph route
youtubeVids = df_main
country = "US"
metric = "likes"
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
barGraph1Data = youtubeVids[youtubeVids["country"] == country]

barGraph1Data = barGraph1Data.groupby('categoryId').mean()
barGraph1Data = barGraph1Data[metric]
barGraph1Data

categoryId
Autos & Vehicles          53588.263415
Comedy                   115592.326196
Education                 76952.064583
Entertainment            153069.844634
Film & Animation         107222.955610
Gaming                   163714.600399
Howto & Style             72941.372624
Music                    357801.360620
News & Politics           21329.559653
Nonprofits & Activism     35196.440000
People & Blogs           133745.807858
Pets & Animals            45226.451389
Science & Technology      84213.552558
Sports                    35403.001547
Travel & Events           24448.074468
Name: likes, dtype: float64

In [32]:
# Bargraph2 route
youtubeVids = df_main
country = "US"
metric = "likes"
catId = "Entertainment"

barGraph2Data = youtubeVids[youtubeVids["country"] == country]
barGraph2Data = barGraph2Data[barGraph2Data["categoryId"] == catId]
barGraph2Data = barGraph2Data.loc[:, ["views", "comments", "likes", "dislikes", "country", "categoryId"]]

metric_values = ["views", "comments", "likes", "dislikes"]
metricMaxValues = []
n = 0
for i in metric_values:
    step1_df = barGraph2Data.sort_values(by=i, ascending=False)
    step2_df = step1_df[i]
    step3 = step2_df.values.tolist()
    metricMaxValues.append(step3[0])
metricMaxValues

barGraph2_df = pd.DataFrame(
    {'Metric Values': metric_values,
     'Max Value': metricMaxValues
    })
barGraph2_df

   Metric Values  Max Value
0     view_count   31801966
1  comment_count     681063
2          likes    2577092
3       dislikes      76584

In [67]:
# table by category route
youtubeVids = df_main
country = "US"
metric = "likes"
category = "Entertainment"

# # Fix the 29 vs Non profits issue
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")

# # Sort dataframe by country & category
table_df = youtubeVids[youtubeVids["country"] == country]
table_df = table_df[table_df["categoryId"] == category]

# # Sort dataframe (largest to smallest) by metric
sorted_table_df = table_df.sort_values(by=metric, ascending=False)

# # Removing duplicate titles from dataframe
sorted_table_df = sorted_table_df.drop_duplicates(subset='title', keep="first")
sorted_table_df

# # Select top 10 from dataframe
top10List_df = sorted_table_df.nlargest(10, metric)

# # Select columns to keep
top10List_df = top10List_df[['categoryId', 'title', 'channelTitle', 'view_count', 'comment_count', 'trending_date', 'likes', 'dislikes', 'video_id' ]]
top10List_df

,categoryId,title,channelTitle,view_count,comment_count,trending_date,likes,dislikes,video_id
5397,Entertainment,BTS Performs Dynamite | 2020 MTV VMAs,MTV,29442683,148096,2020-09-07,2577092,58524,zJCdkOpU90g
12196,Entertainment,Hi Me In 5 Years,MrBeast,21701884,175728,2020-10-11,2494869,10347,AKJfakEsgy0
2351,Entertainment,"Last To Leave $800,000 Island Keeps It",MrBeast,31801966,201630,2020-08-23,2097381,35643,NkE0AMGzpJY
9398,Entertainment,"I Gave My 40,000,000th Subscriber 40 Cars",MrBeast,28567218,151635,2020-09-27,1815713,23359,UE5AHE2Ypr8
1781,Entertainment,I Bought A Private Island,MrBeast,30234876,121292,2020-08-20,1801095,23693,FbM1yi4mMMc
8765,Entertainment,Why I Haven’t Been Uploading,MrBeast,20869977,97467,2020-09-24,1748970,15767,TDiXxsQ0w2Q
17579,Entertainment,I Survived 24 Hours Straight In Ice,MrBeast,25739361,163122,2020-11-08,1641951,19460,SZQhgExjBvQ
8373,Entertainment,BTS Performs Dynamite on AGT - America's Got T...,America's Got Talent,14032448,89597,2020-09-22,1599023,21726,MH_vjfNPv70
3373,Entertainment,Would YOU Rather Have A Lamborghini or This Ho...,MrBeast,20807368,126774,2020-08-28,1486530,13908,s1ax8Tx_Jz0
386,Entertainment,TREASURE - 'BOY' M/V,TREASURE (트레저),19682753,346975,2020-08-13,1473055,25964,JSAfPh1A25E