### Importing Dependencies

In [1]:
import pandas as pd
import os
import requests
import json
# from config import password
from sqlalchemy import create_engine

### Creating a function to import csv data from multiple countries

In [16]:
# def import_func(country_code):
    
#     #Creating Path
#     cd  = 'D:\MyProjects\Clones\YTP\data\\newData'
#     country = country_code
#     cd+='\\'
#     cd+=country_code
#     cd+='_youtube_trending_data.csv'
#     #path = cd.join(f'{country_code}_youtube_trending_data.csv')
#     path = cd
    
#     #Storing dataframe to df
#     print(path)
#     df=pd.read_csv(path)
    
#     #Removing unwanted columns below
    
#     df=df[['video_id','title','publishedAt','channelTitle','categoryId','trending_date',
#             'view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    
#     #Changing object types to date types for two columns
    
#     df['publishedAt']=pd.to_datetime(df['publishedAt'])
#     df['trending_date']=pd.to_datetime(df['trending_date'])
    
    
#     #Removing time stamp from date
    
#     df['publishedAt']=df['publishedAt'].dt.date 
#     df['trending_date']=df['trending_date'].dt.date
    
#     jsoncwd = 'data\\newData\\' + country_code + '_category_id.json'
#     #with open(f'data/{country_code}_category_id.json', 'r') as read_file:
#     with open(jsoncwd, 'r') as read_file:
#         category_ids = json.load(read_file)

#         df=df.astype({'categoryId': 'str'})
        
#     for index,row in df.iterrows():
    
#         for entry in category_ids["items"]:

#             if row["categoryId"]==entry["id"]:
#                 df.at[index,"categoryId"]=entry["snippet"]["title"]
    
#     #Adding country Code as column
#     df['country']=f'{country_code}'
#     col_name='country'
    
    
#     #Moving country code to first column
#     first_col = df.pop(col_name)
#     df.insert(0,col_name,first_col)
    
#     return df

# cwd = 'D:\MyProjects\Clones\YTP\data\\newData'
# print(os.getcwd())

d:\MyProjects\Clones\YTP

### Creating all dataframes using import function

In [17]:
# #USA Dataframe
# df_us=import_func('US')

# #Brasil Dataframe
# df_br=import_func('BR')

# #Canada Dataframe
# df_ca=import_func('CA')

# #Mexico Dataframe
# df_mx=import_func('MX')

D:\MyProjects\Clones\YTP\data\newData\US_youtube_trending_data.csv
D:\MyProjects\Clones\YTP\data\newData\BR_youtube_trending_data.csv
D:\MyProjects\Clones\YTP\data\newData\CA_youtube_trending_data.csv
D:\MyProjects\Clones\YTP\data\newData\MX_youtube_trending_data.csv

### Combining all data to one dataframe

In [19]:
# #Creating a varible to add all dfs
# country_df=[df_us,df_br,df_ca,df_mx]

# df_main = pd.concat(country_df)
# df_main

,country,video_id,title,publishedAt,channelTitle,categoryId,trending_date,view_count,likes,dislikes,comment_count,thumbnail_link
0,US,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11,Brawadis,People & Blogs,2020-08-12,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg
1,US,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11,Apex Legends,Gaming,2020-08-12,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg
2,US,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11,jacksepticeye,Entertainment,2020-08-12,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg
3,US,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11,XXL,Music,2020-08-12,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg
4,US,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11,Mr. Kate,Howto & Style,2020-08-12,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
46794,MX,2GyH_-SyK5A,NERFEAR A CR7 EN LA ACTUALIZACIÓN DE FREE FIRE,2021-03-31,Memounstro,Gaming,2021-04-07,283292,42386,985,4290,https://i.ytimg.com/vi/2GyH_-SyK5A/default.jpg
46795,MX,X5Xl2S9yBgM,BROMA MUY PESADA A MANUEL RIVERA *CHOQUE SU ME...,2021-03-30,Alberto Orozco,Autos & Vehicles,2021-04-07,259087,16128,541,476,https://i.ytimg.com/vi/X5Xl2S9yBgM/default.jpg
46796,MX,3EW6Zk1BgX0,AURONPLAY Y GREFG POR PRIMERA VEZ JUGANDO FORT...,2021-03-30,TheGrefg,Gaming,2021-04-07,3300261,279884,3214,5760,https://i.ytimg.com/vi/3EW6Zk1BgX0/default.jpg
46797,MX,rIPkkoJoG2s,ASTRO 아스트로 - ONE M/V TEASER 1,2021-03-30,fantagio 판타지오,Entertainment,2021-04-07,483548,79614,181,7439,https://i.ytimg.com/vi/rIPkkoJoG2s/default.jpg
46798,MX,VXfY0qClBoI,Padres vs. D-backs Game Highlights (4/1/21) | ...,2021-04-02,MLB,Sports,2021-04-07,417420,3728,122,334,https://i.ytimg.com/vi/VXfY0qClBoI/default.jpg

### ADDED TODAY

### Creating a function to get popular statistics

In [21]:
# def stats(country_code):
    
#     #Invoiking import_func to capture all the date based on country

#     df=import_func(f'{country_code}')
    

#     #Grouping dataframe by category to get all likes
    
#     df_likes=df.groupby('categoryId').likes.sum()
    
    
#     #Grouping dataframe by category to get all dislikes
    
#     df_dislikes=df.groupby('categoryId').dislikes.sum()
    
    
#     ##Grouping dataframe by category to get total view count
    
#     df_view_count=df.groupby('categoryId').view_count.sum()
   
   
#     return df_likes.reset_index(),df_dislikes.reset_index(),df_view_count.reset_index()

In [22]:
#Example


# df_US_likes,df_US_dislikes,df_US_view_count=stats('US')

D:\MyProjects\Clones\YTP\data\newData\US_youtube_trending_data.csv

### Creating SQL engine to connnect to Postgres

In [9]:
# # #Connect to Database

pg_user = 'postgres'
pg_password='Sm6Jc5bqbiNQdsVAo7eN'
db_name = 'YTP_database'
connection_string = f'{pg_user}:{pg_password}@localhost:5432/{db_name}'
engine=create_engine(f'postgresql://{connection_string}')

# #Connect to Database - Alternative
# dbuser = 'postgres'
# dbpassword = 'Sm6Jc5bqbiNQdsVAo7eN'
# dbhost = 'localhost'
# dbport = '5432'
# dbname= 'youtube_database'
# connection_string2 = f'{dbuser}:{dbpassword}@database-1.cvmfiiilpm7y.us-east-1.rds.amazonaws.com:{dbport}/{dbname}'
# engine=create_engine(f'postgresql://{connection_string2}')

In [10]:
# engine.table_names()

In [ ]:
# df_main.to_sql(name='youtube_table',con=engine,if_exists='append',index=False)

#### For App.py routes

In [33]:
# from datetime import datetime

# # Routes to fill the drop down menus
# # Dropdown menu#1
# youtubeVids = df_main
# country_df = youtubeVids['country'].value_counts() 
# countryList = country_df.index.tolist()
# countryList

# # Dropdown menu#2
# youtubeVids = df_main
# youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
# category_df = df_main['categoryId'].value_counts() 
# categoryList = category_df.index.tolist()
# categoryList

# # Dropdown menu#3
# metricList = ['Views', 'Likes', 'Dislikes', 'Comments']

In [38]:
# df_main = df_main.rename(columns={'country': 'country', 'video_id': 'video_id', 'title': 'title', 'publishedAt': 'publishedAt', 'channelTitle': 'channelTitle', 'categoryId': 'categoryId',
#                                   'trending_date': 'trending_date', 'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments', 'thumbnail_link': 'thumbnail_link'})

In [11]:
# CREATING A HEROKU DATASET
# Heroku only takes data with <10k rows so I created a heroku dataset (incase we ever want to host on heroku).

def import_func(country_code):
    
    #Creating Path
    path = os.path.join('data\\newData',f'{country_code}_youtube_trending_data.csv')
    
    
    #Storing dataframe to df
    dfh=pd.read_csv(path)
    
    #Removing unwanted columns below
    dfh=dfh[['video_id','title','publishedAt','channelTitle','categoryId','trending_date','view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    #Renaming columns
    dfh = dfh.rename(columns={'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments'})
    
    #Changing object types to date types for two columns
    dfh['publishedAt']=pd.to_datetime(dfh['publishedAt'])
    dfh['trending_date']=pd.to_datetime(dfh['trending_date'])
    
    
    #Removing time stamp from date
    dfh['publishedAt']=dfh['publishedAt'].dt.date 
    dfh['trending_date']=dfh['trending_date'].dt.date
    
    
    with open(f'data/newData/{country_code}_category_id.json', 'r') as read_file:
        category_ids = json.load(read_file)

        dfh=dfh.astype({'categoryId': 'str'})
        
    for index,row in dfh.iterrows():
    
        for entry in category_ids["items"]:

            if row["categoryId"]==entry["id"]:
                dfh.at[index,"categoryId"]=entry["snippet"]["title"]
    
    # Select 999 rows from each country in dataframe (so we end up with <10k rows ~1000 rows per country)
    dfh = dfh.nlargest(999, 'views')
    
    #Adding country Code as column
    dfh['country']=f'{country_code}'
    col_name='country'
    
    #Moving country code to first column
    first_col = dfh.pop(col_name)
    dfh.insert(0,col_name,first_col)
    
    return dfh

#USA Dataframe
dfh_us=import_func('US')

#Brasil Dataframe
dfh_br=import_func('BR')

#Canada Dataframe
dfh_ca=import_func('CA')

#Mexico Dataframe
dfh_mx=import_func('MX')

#GB Dataframe
dfh_gb=import_func('GB')

#France Dataframe
dfh_fr=import_func('FR')

#Russia Dataframe
dfh_ru=import_func('RU')

#Japan Dataframe
dfh_jp=import_func('JP')

#Korea Dataframe
dfh_kr=import_func('KR')

#India Dataframe
dfh_in=import_func('IN')


#Creating a varible to add all dfs
country_dfh=[dfh_us, dfh_br, dfh_ca, dfh_mx, dfh_gb, dfh_fr, dfh_ru ,dfh_jp, dfh_kr ,dfh_in]

dfh_main = pd.concat(country_dfh)
dfh_main

# Fix the 29 vs Non profits issue
dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")

#View output
dfh_main


# To upload to postgres SQL db
# You first have to go create the db (named youtube_table2) in postgres

# #Connect to Database
pg_user = 'postgres'
pg_password='Sm6Jc5bqbiNQdsVAo7eN'
db_name = 'youtube_database'
connection_string = f'{pg_user}:{pg_password}@localhost:5432/{db_name}'
engine=create_engine(f'postgresql://{connection_string}')

#Connect to Database - Alternative

# dbuser = 'postgres'
# dbpassword = 'Sm6Jc5bqbiNQdsVAo7eN'
# dbhost = 'localhost'
# dbport = '5432'
# dbname= 'youtube_database'
# connection_string2 = f'{dbuser}:{dbpassword}@database-1.cvmfiiilpm7y.us-east-1.rds.amazonaws.com:{dbport}/{dbname}'
# engine=create_engine(f'postgresql://{connection_string2}')

# Upload to postgres
print(dfh_main)
dfh_main.to_sql(name='youtube_table2',con=engine,if_exists='append',index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "country" of relation "youtube_table2" does not exist
LINE 1: INSERT INTO youtube_table2 (country, video_id, title, "publi...
                                    ^

[SQL: INSERT INTO youtube_table2 (country, video_id, title, "publishedAt", "channelTitle", "categoryId", trending_date, views, likes, dislikes, comments, thumbnail_link) VALUES (%(country)s, %(video_id)s, %(title)s, %(publishedAt)s, %(channelTitle)s, %(categoryId)s, %(trending_date)s, %(views)s, %(likes)s, %(dislikes)s, %(comments)s, %(thumbnail_link)s)]
[parameters: ({'country': 'US', 'video_id': 'gdZLi9oWNZg', 'title': "BTS (방탄소년단) 'Dynamite' Official MV", 'publishedAt': datetime.date(2020, 8, 21), 'channelTitle': 'Big Hit Labels', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 8, 28), 'views': 232649205, 'likes': 15735533, 'dislikes': 714194, 'comments': 6065230, 'thumbnail_link': 'https://i.ytimg.com/vi/gdZLi9oWNZg/default.jpg'}, {'country': 'US', 'video_id': 'gdZLi9oWNZg', 'title': "BTS (방탄소년단) 'Dynamite' Official MV", 'publishedAt': datetime.date(2020, 8, 21), 'channelTitle': 'Big Hit Labels', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 8, 27), 'views': 219110491, 'likes': 15460822, 'dislikes': 674291, 'comments': 5810680, 'thumbnail_link': 'https://i.ytimg.com/vi/gdZLi9oWNZg/default.jpg'}, {'country': 'US', 'video_id': 'gdZLi9oWNZg', 'title': "BTS (방탄소년단) 'Dynamite' Official MV", 'publishedAt': datetime.date(2020, 8, 21), 'channelTitle': 'Big Hit Labels', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 8, 26), 'views': 208581468, 'likes': 15246496, 'dislikes': 646349, 'comments': 5744496, 'thumbnail_link': 'https://i.ytimg.com/vi/gdZLi9oWNZg/default.jpg'}, {'country': 'US', 'video_id': 'gdZLi9oWNZg', 'title': "BTS (방탄소년단) 'Dynamite' Official MV", 'publishedAt': datetime.date(2020, 8, 21), 'channelTitle': 'Big Hit Labels', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 8, 25), 'views': 200692965, 'likes': 14994034, 'dislikes': 621578, 'comments': 5623570, 'thumbnail_link': 'https://i.ytimg.com/vi/gdZLi9oWNZg/default.jpg'}, {'country': 'US', 'video_id': 'vRXZj0DzXIA', 'title': "BLACKPINK - 'Ice Cream (with Selena Gomez)' M/V", 'publishedAt': datetime.date(2020, 8, 28), 'channelTitle': 'BLACKPINK', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 9, 5), 'views': 184778248, 'likes': 11795670, 'dislikes': 879354, 'comments': 2735997, 'thumbnail_link': 'https://i.ytimg.com/vi/vRXZj0DzXIA/default.jpg'}, {'country': 'US', 'video_id': 'gdZLi9oWNZg', 'title': "BTS (방탄소년단) 'Dynamite' Official MV", 'publishedAt': datetime.date(2020, 8, 21), 'channelTitle': 'Big Hit Labels', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 8, 24), 'views': 183414472, 'likes': 14678048, 'dislikes': 576852, 'comments': 5748638, 'thumbnail_link': 'https://i.ytimg.com/vi/gdZLi9oWNZg/default.jpg'}, {'country': 'US', 'video_id': 'vRXZj0DzXIA', 'title': "BLACKPINK - 'Ice Cream (with Selena Gomez)' M/V", 'publishedAt': datetime.date(2020, 8, 28), 'channelTitle': 'BLACKPINK', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 9, 4), 'views': 176467113, 'likes': 11645386, 'dislikes': 865074, 'comments': 2722454, 'thumbnail_link': 'https://i.ytimg.com/vi/vRXZj0DzXIA/default.jpg'}, {'country': 'US', 'video_id': 'vRXZj0DzXIA', 'title': "BLACKPINK - 'Ice Cream (with Selena Gomez)' M/V", 'publishedAt': datetime.date(2020, 8, 28), 'channelTitle': 'BLACKPINK', 'categoryId': 'Music', 'trending_date': datetime.date(2020, 9, 3), 'views': 167334429, 'likes': 11474597, 'dislikes': 848974, 'comments': 2710901, 'thumbnail_link': 'https://i.ytimg.com/vi/vRXZj0DzXIA/default.jpg'}  ... displaying 10 of 9990 total bound parameter sets ...  {'country': 'IN', 'video_id': '5GRbUnw64W0', 'title': 'Panghat – Roohi | Rajkummar – Janhvi - Varun | Sachin- Jigar, Amitabh B | Asees K | Divya K|Mellow D', 'publishedAt': datetime.date(2021, 2, 22), 'channelTitle': 'Sony Music India', 'categoryId': 'Music', 'trending_date': datetime.date(2021, 2, 24), 'views': 18304492, 'likes': 311347, 'dislikes': 39693, 'comments': 11283, 'thumbnail_link': 'https://i.ytimg.com/vi/5GRbUnw64W0/default.jpg'}, {'country': 'IN', 'video_id': '5GRbUnw64W0', 'title': 'Panghat – Roohi | Rajkummar – Janhvi - Varun | Sachin- Jigar, Amitabh B | Asees K | Divya K|Mellow D', 'publishedAt': datetime.date(2021, 2, 22), 'channelTitle': 'Sony Music India', 'categoryId': 'Music', 'trending_date': datetime.date(2021, 2, 24), 'views': 18304492, 'likes': 311382, 'dislikes': 39702, 'comments': 11285, 'thumbnail_link': 'https://i.ytimg.com/vi/5GRbUnw64W0/default.jpg'})]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [ ]:
# dfh_main['categoryId'] = df_main['categoryId'].str.replace("29", "Nonprofits & Activism")
# dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")


# df_main['categoryId'].value_counts()
# df_main['categoryId'].unique()
# dfh_main
# df_main = df_main(columns={})
# df_main['likes']

# df_main['publishedAt'].value_counts()

In [5]:
# Bar graph route
youtubeVids = df_main
country = "US"
metric = "likes"
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
barGraph1Data = youtubeVids[youtubeVids["country"] == country]

barGraph1Data = barGraph1Data.groupby('categoryId').mean()
barGraph1Data = barGraph1Data[metric]
barGraph1Data

NameError: name 'df_main' is not defined

In [40]:
# Bargraph2 route
youtubeVids = df_main
country = "US"
metric = "likes"
catId = "Entertainment"

barGraph2Data = youtubeVids[youtubeVids["country"] == country]
barGraph2Data = barGraph2Data[barGraph2Data["categoryId"] == catId]
barGraph2Data = barGraph2Data.loc[:, ["views", "comments", "likes", "dislikes", "country", "categoryId"]]

metric_values = ["views", "comments", "likes", "dislikes"]
metricMaxValues = []
n = 0
for i in metric_values:
    step1_df = barGraph2Data.sort_values(by=i, ascending=False)
    step2_df = step1_df[i]
    step3 = step2_df.values.tolist()
    metricMaxValues.append(step3[0])
metricMaxValues

barGraph2_df = pd.DataFrame(
    {'Metric Values': metric_values,
     'Max Value': metricMaxValues
    })
barGraph2_df

  Metric Values  Max Value
0         views   60332012
1      comments     681063
2         likes    3871379
3      dislikes      76584

In [42]:
# table by category route
youtubeVids = df_main
country = "US"
metric = "likes"
category = "Entertainment"

# # Fix the 29 vs Non profits issue
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")

# # Sort dataframe by country & category
table_df = youtubeVids[youtubeVids["country"] == country]
table_df = table_df[table_df["categoryId"] == category]

# # Sort dataframe (largest to smallest) by metric
sorted_table_df = table_df.sort_values(by=metric, ascending=False)

# # Removing duplicate titles from dataframe
sorted_table_df = sorted_table_df.drop_duplicates(subset='title', keep="first")
sorted_table_df

# # Select top 10 from dataframe
top10List_df = sorted_table_df.nlargest(10, metric)

# # Select columns to keep
top10List_df = top10List_df[['categoryId', 'title', 'channelTitle', 'views', 'comments', 'trending_date', 'likes', 'dislikes', 'video_id' ]]
top10List_df

,categoryId,title,channelTitle,views,comments,trending_date,likes,dislikes,video_id
29541,Entertainment,"Youtube Rewind 2020, Thank God It's Over",MrBeast,33387176,295256,2021-01-10,3871379,53805,PKtnafFtfEo
46572,Entertainment,I Spent 50 Hours Buried Alive,MrBeast,60332012,195892,2021-04-05,3331049,44353,9bqk6ZUsKyA
31394,Entertainment,I Bought Everything In 5 Stores,MrBeast,31457820,177784,2021-01-19,2700253,18037,5Fg9oZk-5uA
5397,Entertainment,BTS Performs Dynamite | 2020 MTV VMAs,MTV,29442683,148096,2020-09-07,2577092,58524,zJCdkOpU90g
37778,Entertainment,LILI’s FILM [The Movie],Lilifilm Official,24756742,253019,2021-02-20,2514021,21125,vtRJZEHdu8M
12196,Entertainment,Hi Me In 5 Years,MrBeast,21701884,175728,2020-10-11,2494869,10347,AKJfakEsgy0
26162,Entertainment,"I Gave People $1,000,000 But ONLY 1 Minute To ...",MrBeast,33502455,138736,2020-12-23,2453839,24448,LeYsRMZFUq0
33774,Entertainment,"I Ate $100,000 Golden Ice Cream",MrBeast,33809019,131520,2021-01-31,2189731,27833,C680oxL__ck
27594,Entertainment,I Opened A Restaurant That Pays You To Eat At It,MrBeast,31973364,678199,2020-12-31,2114647,20528,dg2Ag3e8W-Q
2351,Entertainment,"Last To Leave $800,000 Island Keeps It",MrBeast,31801966,201630,2020-08-23,2097381,35643,NkE0AMGzpJY