## IMPORT DEPENDENCIES

In [2]:
import pandas as pd
import os
import requests
import json
from config import dbuser, dbpassword, dbhost, dbport, dbname
from sqlalchemy import create_engine

### CREATING A DATASET

In [3]:
# =============================================================== #
# # # CREATING A HEROKU DATASET
# =============================================================== #
# Heroku only takes data with <10k rows so I created a heroku dataset (incase we ever want to host on heroku).

def import_func(country_code):
    
    # Creating Path
    path = os.path.join('data','newData',f'{country_code}_youtube_trending_data.csv')
    
    # Storing dataframe to df
    dfh=pd.read_csv(path)
    
    # Removing unwanted columns below
    dfh=dfh[['video_id','title','publishedAt','channelTitle','categoryId','trending_date','view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    # Renaming columns
    dfh = dfh.rename(columns={'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments'})
    
    # Changing object types to date types for two columns
    dfh['publishedAt']=pd.to_datetime(dfh['publishedAt'])
    dfh['trending_date']=pd.to_datetime(dfh['trending_date'])
    
    # Removing time stamp from date
    dfh['publishedAt']=dfh['publishedAt'].dt.date 
    dfh['trending_date']=dfh['trending_date'].dt.date
    
    # For loop for each csv file
    with open(f'data/newData/{country_code}_category_id.json', 'r') as read_file:
        category_ids = json.load(read_file)

        dfh=dfh.astype({'categoryId': 'str'})
        
    for index,row in dfh.iterrows():
    
        for entry in category_ids["items"]:

            if row["categoryId"]==entry["id"]:
                dfh.at[index,"categoryId"]=entry["snippet"]["title"]
    
    # Select 999 rows from each country in dataframe (so we end up with <10k rows ~1000 rows per country * 10 countries)
    # dfh = dfh.nlargest(999, 'views')
    
    # Adding country Code as column
    dfh['country']=f'{country_code}'
    col_name='country'
    
    # Moving country code to first column
    first_col = dfh.pop(col_name)
    dfh.insert(0,col_name,first_col)
    
    return dfh

# USA Dataframe
dfh_us=import_func('US')

# Brasil Dataframe
dfh_br=import_func('BR')

# Canada Dataframe
dfh_ca=import_func('CA')

# Mexico Dataframe
dfh_mx=import_func('MX')

# GB Dataframe
dfh_gb=import_func('GB')

# France Dataframe
dfh_fr=import_func('FR')

# Russia Dataframe
dfh_ru=import_func('RU')

# Japan Dataframe
dfh_jp=import_func('JP')

# Korea Dataframe
dfh_kr=import_func('KR')

# India Dataframe
dfh_in=import_func('IN')


# Creating a varible to add all dfs
country_dfh=[dfh_us, dfh_br, dfh_ca, dfh_mx, dfh_gb, dfh_fr, dfh_ru ,dfh_jp, dfh_kr ,dfh_in]

# Merge output into one table
dfh_main = pd.concat(country_dfh)
dfh_main

# Fix the 29 vs Non profits issue
dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")

# View output
dfh_main.columns

Index(['country', 'video_id', 'title', 'publishedAt', 'channelTitle',
       'categoryId', 'trending_date', 'views', 'likes', 'dislikes', 'comments',
       'thumbnail_link'],
      dtype='object')

In [4]:
# View output
dfh_main

,country,video_id,title,publishedAt,channelTitle,categoryId,trending_date,views,likes,dislikes,comments,thumbnail_link
0,US,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11,Brawadis,People & Blogs,2020-08-12,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg
1,US,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11,Apex Legends,Gaming,2020-08-12,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg
2,US,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11,jacksepticeye,Entertainment,2020-08-12,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg
3,US,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11,XXL,Music,2020-08-12,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg
4,US,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11,Mr. Kate,Howto & Style,2020-08-12,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
44135,IN,owXrUjCzR3s,Dearu Brotheru | 1 Crore Views Special Mashup ...,2021-04-03,Sema Bruh,Comedy,2021-04-07,475622,42231,326,723,https://i.ytimg.com/vi/owXrUjCzR3s/default.jpg
44136,IN,cqn3OqwU7KA,Bicycle Bhais | Web Series | Episode 3 | But W...,2021-04-03,Popcorn Stories,Comedy,2021-04-07,177265,10847,338,273,https://i.ytimg.com/vi/cqn3OqwU7KA/default.jpg
44137,IN,niDk_Ydotk8,दुनिया के सबसे अमीर इंसान का प्रोजेक्ट - Jeff ...,2021-04-05,FactTechz,Science & Technology,2021-04-07,1442530,159830,1946,5018,https://i.ytimg.com/vi/niDk_Ydotk8/default.jpg
44138,IN,5PnhUOl-K-A,KHUSHI MEETS MOM 😢 | Vivek Choudhary | Khushi ...,2021-04-05,Mr & Mrs Choudhary,People & Blogs,2021-04-07,1242032,102200,1434,7439,https://i.ytimg.com/vi/5PnhUOl-K-A/default.jpg
44139,IN,wF6tm_mznvA,Extra Jabardasth | 2nd April 2021 | Full Episo...,2021-04-02,ETV Jabardasth,Comedy,2021-04-07,2694290,27406,2572,1074,https://i.ytimg.com/vi/wF6tm_mznvA/default.jpg

### CONNECTING AND LOADING DATA INTO THE DATABASE (POSTGRES & MSSQL DBs) FOR HEROKU

In [ ]:
# =============================================================== #
# # UPLOAD DATASET TO DATABASE (POSTGRESS SQL DB)
# =============================================================== #
# You first have to go create the db and then use the same name as the db you have created
# (youtube_table_v1 < 10,000    youtube_table_v2 > 10,000) in postgres

# =============================================================== #
# # 1 Connect to Database (with Local db and all)
# =============================================================== #
# pg_user = 'postgres'
# pg_password=password
# db_name = 'youtube_database'
# connection_string = f'{pg_user}:{password}@localhost:5432/{db_name}'
# engine=create_engine(f'postgresql://{connection_string}')

# =============================================================== #
# 2 Connect to Database (Alternative with AWS db and all)
# =============================================================== #
dbuser = 'postgres'
dbpassword = 'Sm6Jc5bqbiNQdsVAo7eN'
dbhost = 'localhost'
dbport = '5432'
dbname= 'YTP_database'
connection_string2 = f'{dbuser}:{dbpassword}@database-1.cvmfiiilpm7y.us-east-1.rds.amazonaws.com:{dbport}/{dbname}'
engine=create_engine(f'postgresql://{connection_string2}')

# =============================================================== #
# 3 Upload to postgres
# =============================================================== #
dfh_main.to_sql(name='youtube_table_v2',con=engine,if_exists='append',index=False)

In [ ]:
# =============================================================== #
# # UPLOAD DATASET TO DATABASE (SQL SERVER DB)
# =============================================================== #
# =============================================================== #
# IMPORTING DEPENDENCIES
# =============================================================== #
from sqlalchemy import create_engine
import urllib

# =============================================================== #
# Set up variables
# =============================================================== #
msql_serverName = 'WORKHORSE_PC\SQLEXPRESS'
msql_dbName = 'YTP_Parser'

# =============================================================== #
# Set up connection string (This connection string is for SQL 
# server which are set up without username & pw)
# =============================================================== #
conn_str = (
    r'Driver=ODBC Driver 17 for SQL Server;'
    rf'Server={msql_serverName};'
    rf'Database={msql_dbName};'
    r'Trusted_Connection=yes;'
)
quoted_conn_str = urllib.parse.quote_plus(conn_str)
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={quoted_conn_str}')

# =============================================================== #
# Connect to DB and delete (or create) a table
# =============================================================== #
# q = """DROP TABLE Table2BDeleted"""
# cnxn.execute(q)   

# q = """ 
# CREATE TABLE youtube_table_v2 (
# country Varchar (128) NOT NULL,
# video_id Varchar (128) NOT NULL,
# title Varchar (128) NOT NULL,
# publishedAt date NOT NULL,
# channelTitle Varchar (128) NOT NULL,
# categoryId Varchar (128) NOT NULL,
# trending_date date NOT NULL,
# views Integer NOT NULL,
# likes Integer NOT NULL,
# dislikes Integer NOT NULL,
# comments Integer NOT NULL,
# thumbnail_link Varchar (128) NOT NULL,
# )
# """
# cnxn.execute(q)  

# =============================================================== #
# Connect to DB and upload df to table
# =============================================================== #
cnxn = engine.connect()
dfh_main.to_sql(name = 'youtube_table_v2', con = cnxn, if_exists = 'append',index = False)
cnxn.close()